@charset "UTF-8";

body {
	background-color: #fffceb;
	font-family: Arial, sans-serif;
	font-size: 20pt;
}


table#tabelaspec {
	border: 1px solid #606060;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table#tabelaspec td {
	border: 2px solid #6060606060;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}

table#tabelaspec td.ce {
	color: #ffffff;
	background-color: #606060;
	vertical-align: top;
	font-weight: bold;
}

table#tabelaspec td.cd {
	background-color: #cecece;

}

h1{
	  font-family: Arial;
	  font size: 40pt;
	  color: blue;
	  text-shadow: 2px 2px 2px black;
  }

  h2{
	font-family: Arial Black;
	fonte size: 40pt;
	color: black;
	text-shadow: 2px 2px 2px white;

}

table#tabelaspec2 td{
	border: 2px solid #0e0b0b;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;;
}

table#tabelaspec2 td.at{
	
	font-family: Arial;
	font-size: 30pt;
	color: green;
	text-shadow: 1px 1px 1px black;
}

table#tabelaspec2 td.ed{
	font-family: 'Courier New';
	color:red;
	font-size: 20pt;
}